.vs/
.idea/
.vscode/
*.DotSettings.user
*.user
*.userosscache
*.suo
*.sln.docstates
*.userprefs
[Bb]in/
[Oo]bj/
[Bb]uild/
[Ll]og/
artifacts/
TestResults/
**/publish/
AppPackages/
_pack/
*.app/
*.dmg
*.msi
*.deb
*.rpm
*.snap
*.AppImage
*.pkg.tar.zst
*.zip
Avalonia.Ide.Designer/
*.g.i.cs
*.nupkg
*.snupkg
.nuget/
packages/
project.assets.json
project.nuget.cache
*.log
*.nlog
*.tlog
*.coverage
*.coveragexml
*.dmp
*.spew
*.nvuserlog
*.pdb
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
*~
secrets.json
*.pfx
*.key
*.jks
_ReSharper.Caches/
*.resharper
*.orig
*.tmp
*.bak


resharper-cli
resharper-cli.zip
InspectCodeResult.xml
